Introduce los identificadores de cada anchor (4 caracteres) y su posicion en el plano:<br><br>
    <form action="" method="post">
    
        <label for="name">ID anchor 1: </label>
        <input type="text" id="id-a1" name="id-a1" /><br>
        <label for="name">X: </label>
        <input type="number" id="a1-x" name="a1-x" /><br>
        <label for="name">Y: </label>
        <input type="number" id="a1-y" name="a1-y" /><br><br>
        
        <label for="name">ID anchor 2: </label>
        <input type="text" id="id-a2" name="id-a2" /><br>
        <label for="name">X: </label>
        <input type="number" id="a2-x" name="a2-x" /><br>
        <label for="name">Y: </label>
        <input type="number" id="a2-y" name="a2-y" /><br><br>
        
        <label for="name">ID anchor 3: </label>
        <input type="text" id="id-a3" name="id-a3" /><br>
        <label for="name">X: </label>
        <input type="number" id="a3-x" name="a3-x" /><br>
        <label for="name">Y: </label>
        <input type="number" id="a3-y" name="a3-y" /><br><br>
        
        <label for="name">NOMBRE DEL DISPOSITIVO <i><small>(TARGETDEV-XXXXXX)</small></i> </label><br>
        <input type="text" id="devname" name="devname" /><br><br>
        
        <input type="submit" id="send-signup" name="signup" value="Enviar" />
    </form>

